/* style.css */
html body {
    background-color: aliceblue;
}

h1 {
    font-family: fantasy;
}

input#task {
    width: 100%;
}

.row-input .col:nth-child(1) {
    padding-right: 0;
}

@media (max-width: 767px) {
    .row-input .col:nth-child(1) {
        text-align: left;
        margin-left: -9px;
    }
}

@media (min-width: 768px) {
    .row-input .col:nth-child(1) {
        text-align: right;
    }
}

.row-input .col:nth-child(1) label {
    display: inline;
}

.row-input .col:nth-child(2) {
    padding: 0 1vw;
}

@media (max-width: 767px) {
    .row-input .col:nth-child(3) {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .row-input .col:nth-child(3) {
        text-align: left;
        padding-left: 0;
    }
}

.bought {
    text-decoration: line-through;
    background: #bbb;
}

#taskList {
    visibility: hidden;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
}

#taskList img {
    margin-bottom: 0.6vw;
}

@media (max-width: 767px) {
    #taskList img {
        margin-bottom: 7px;
        margin-left: 2vw;
    }
}

li {
    cursor: pointer;
    padding-top: 3px;
    padding-right: 1vw;
}

li p {
    display: inline;
    word-break: break-word;
}

.warning-row {
    height: 0;
}

.alert.alert-warning {
    height: auto;
    padding: 0;
    visibility: hidden;
    border: 1px solid #555;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 0 2vw;
}

@media (max-width: 767px) {
    #btnAdd {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

ul#taskList {
    margin: 0 1vw;
    background-color: white;
    border: 1px solid #555;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (min-width: 768px) {
    ul#taskList {
        margin-left: 10vw;
        margin-top: 1.3vw;
    }
}

@media (max-width: 767px) {
    .row-list {
        justify-content: center;
    }
}
