/* style.css */

h1 {
    font-family: fantasy;
}

input#task {
    width: 100%;
}

.row-input .col:nth-child(1) {
    text-align: right;
    padding-right: 0;
}

.row-input .col:nth-child(1) label {
    display: inline;
}

.row-input .col:nth-child(2) {
    padding: 0 1vw;
}

.row-input .col:nth-child(3) {
    text-align: left;
    padding-left: 0;
}

.bought {
    text-decoration: line-through;
    background: #bbb;
}

li {
    cursor: pointer;
}
